:host {
  display: block;
  padding: 2em 4em;

  h1 {
   margin-bottom: 1em;
  }

  form {
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;

    .form-control, .attribute-form-control {
      display: flex;
      flex-direction: column;
      padding: .5em;
      gap: .5em;

      &#name-control {
        grid-area: 1 / 1 / 2 / 3;
      }

      input {
        width: 100%;
        background-color: var(--contrast-5);
        padding: .75em 1em;
        font-size: 1em;
        outline: none;
        font-weight: 600;

        &[type="number"] {
          -moz-appearance: textfield;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &.ng-invalid.ng-touched {
          background-color: var(--text-error);
        }
      }
    }

    .buttons {
      width: 100%;
      grid-column: 1 / 3;
      display: flex;
      gap: 1em;
      padding: 1em .5em;

      button {
        padding: .5em;
        font-size: 1.15em;
        font-weight: bold;
        background-color: var(--primary);
        cursor: pointer;
        border-radius: .25em;
        transition: background-color .2s ease, box-shadow .2s ease;

        &:hover {
          background-color: var(--primary-hover);
        }

        &:active {
          box-shadow: 0 0 1em var(--box-shadow-dark-soft);
        }
      }
    }
  }
}
